{% extends 'tracker/calendar.html' %}

{%load crispy_forms_tags %} 

{% block headScripts %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#apptDetail").modal('show');
    });
</script>

<script src="https://use.fontawesome.com/fab2f8d95c.js"></script>

{% endblock %}

{% block modal %}
    <!-- Modal -->

    <div class="modal fade" id="apptDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-dark"> {{ object.description }} created successfully </div>
                        <a href="{% url 'calendar' %}"button type="button" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}