{% extends 'tracker/base.html' %}

{% block headScripts %}
<script src="https://kit.fontawesome.com/3543ae7a77.js" crossorigin="anonymous"></script>

{% endblock %}

{% block addItem %}
<a href="{% url 'calendar-add' %}" class="btn btn-success btn-lg addItem" role="button" aria-pressed="true">
    <i class="far fa-calendar-plus" aria-hidden="true"></i>
</a>
{% endblock addItem %}

{% block content %}
<!-- Make these buttons transperent, stuck to the side and on top of the calendar -->
    <div class="clearfix">
        <a class="position-absolute mid-left btn btn-info" href="{% url 'calendar' %}?{{ prev_month }}"> <i class="fas fa-chevron-left"></i> </a>
        <a class="position-absolute mid-right btn btn-info" href="{% url 'calendar' %}?{{ next_month }}"> <i class="fas fa-chevron-right"></i> </a>
    </div>
{{ calendar }}

{% block modal %}

{% endblock modal %}

{% endblock %}