{% extends 'tracker/base.html' %}

{% block headScripts %}
<script src="https://kit.fontawesome.com/3543ae7a77.js" crossorigin="anonymous"></script>

{% endblock %}

{% block addItem %}
<a href="{% url 'calendar-add' %}" class="btn btn-success btn-lg addItem" role="button" aria-pressed="true">
    <i class="far fa-calendar-plus" aria-hidden="true"></i>
</a>
{% endblock addItem %}

{% block content %}
<!-- Make these buttons transperent, stuck to the side and on top of the calendar -->
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
    </div>
{{ calendar }}

{% block modal %}

{% endblock modal %}

{% endblock %}