{% extends 'tracker/index.html' %}

{% block headScripts %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>

{% endblock %}

{% block modal %}
        <!-- Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure you want to delete "{{ obj.task }}" ?</p>
                        <form action="" method="post"> {% csrf_token %}
                            <a href="{% url 'index' %}"button type="button" class="btn btn-secondary">Cancel</a>
                            <input type="submit" value="Confirm" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}