{% extends 'tracker/base.html' %}
{% load static %}

{% block headScripts %}

<script src="https://kit.fontawesome.com/3543ae7a77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'navbar.css' %}">

{% endblock %}

{% block addItem %}
<a href="{% url 'todo-add' %}" class="btn btn-success btn-lg addItem" role="button" aria-pressed="true">
    <i class="far fa-calendar-plus" aria-hidden="true"></i>
</a>
{% endblock addItem %}

{% block content %}
    {% if todos %}
    <table>
        <tbody><thead></thead>
            {% for todo in todos %}
                {% if not todo.getCompleted %}
                <tr>
                    {% if todo.pastDue %}
                        <td class="rounded w-1210">
                            <a href="{% url 'task_complete' todo.pk %}"
                                data-popup-url="{% url 'task_complete' todo.pk %}"
                                class="h2 list-group-item list-group-item-action list-group-item-danger open-task">
                                {{ todo.getDate }} {{ todo.getTime }} {{ todo.task }}
                            </a> 
                        </td>
                        <td>
                            <a href="{% url 'todo-update' todo.pk %}" class="bigButtons btn btn-primary btn-lg" role="button" aria-pressed="true"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{% url 'todo-delete' todo.pk %}" class="bigButtons btn btn-danger btn-lg" role="button" aria-pressed="true"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                        </td> 
                    {% else %}
                        <td class="rounded w-1210">
                            <a href="{% url 'task_complete' todo.pk %}"
                                data-popup-url="{% url 'task_complete' todo.pk %}"
                                class="h2 list-group-item list-group-item-action list-group-item-success">
                                {{ todo.getDate }} {{ todo.getTime }} {{ todo.task }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'todo-delete' todo.pk %}" class="bigButtons btn btn-primary btn-lg " role="button" aria-pressed="true"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{% url 'todo-update' todo.pk %}" class="bigButtons btn btn-danger btn-lg " role="button" aria-pressed="true"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>All done for today</p>
    {% endif %}

    {% block modal %}

    {% endblock modal %}

{% endblock content %}
