{% extends 'tracker/supplies.html' %}

{% load crispy_forms_tags %} 
{% load widget_tweaks %}

{% block headScripts %}

<script src="https://kit.fontawesome.com/3543ae7a77.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#addSupply").modal('show');
    });
</script>


{% endblock %}

{% block modal %}
    <!-- Modal -->

    <div class="modal fade" id="addSupply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="text-dark"> Create New Supply 
                    <form action="" method="post"> {% csrf_token %}
                        <p> Description: {{form.description | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Order Number: {{form.orderNumber | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Category: {{form.category | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Amount: {{form.amount | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Supplier: {{form.supplier_id | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} 
                            <a href="{% url 'supplier-add' %}" class="btn btn-success btn-xs" role="button" aria-pressed="true">
                                <i class="fas fa-plus"></i>
                            </a>
                        </p>
                        <p> Last Delivery: {{form.lastDelivery | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Next Delivery: {{form.nextDelivery | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <p> Frequency: {{form.deliveryFrequency | add_class:'keyboard ui-keyboard-input ui-widget-content ui-corner-all'}} </p>
                        <a href="{% url 'supply' %}"button type="button" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Confirm" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}