{% extends 'tracker/index.html' %}

{%load crispy_forms_tags %} 

{% block headScripts %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#add").modal('show');
    });
</script>


{% endblock %}

{% block modal %}
    <!-- Modal -->

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="text-dark"> Create New Task 
                    <form action="" method="post"> {% csrf_token %}
                        {{ form|crispy }}
                        <a href="{% url 'index' %}"button type="button" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Confirm" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}