/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
  background-color: #121212;
}

#clock {
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  font-size: 1.5em;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
}

#date {
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  font-size: 1.5em;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
}

.deleteModalButtons {
  float: right;
}

.addItem {
  margin-left: 10px;
}

form {
  margin-top: 20px;
}

.nav {
  width: 400px;
}

.bigButtons {
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.col-10 {
  width: 800px;
}